a, a:link, a:visited {
    color: #dddddd;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

.top_logo {
    padding-left: 10%;
    max-width: 70%;
    max-height: 100%;
    object-fit: fill;
}

.side_logo {
    max-width: 60%;
    max-height: 60%;
    object-fit: fill;
}

.bookie_logo {
    height: 100%;
    width: 100%;
}

.event {
    border-radius: 15px;
    background:white;
    width:100%;
    margin:10px;
    padding:10px;
}

.container .box {
    width:100%;
    height:100%;
    display:table;
}

.container .box .box-row {
    display:table-row;
}
.container .box .box-cell {
    display:table-cell;
    width:25%;
    height:10%;
    padding:0px;
    min-width: 150px;
}

div.box-cell {
  text-align: left;
}

#leftbox {
    float:left;
    background:transparent;
    width:20%;
    height:280px;
    padding-right:0px;
}
#middlebox{
    float:left;
    background:transparent;
    width:80%;
    height:280px;
}
#rightbox{
    float:right;
    background:blue;
    width:25%;
    height:280px;
}