.container .box {
    border-radius: 15px;
    background:white;
    width:100%;
    margin:10px;
    display:table;
    padding:10px;

}
.container .box .box-row {
    display:table-row;
}
.container .box .box-cell {
    display:table-cell;
    border:1px solid gray;
    width:25%;
    padding:5px;
}

<!--    #form {-->
<!--        padding-left:10px;-->
<!--    }-->

#leftbox {
/*      padding does not work due to float position,
    see https://stackoverflow.com/questions/5013683/css-float-and-padding */
    float:left;
    background:transparent;
    border-radius: 5px;
    width:20%;
<!--        height:280px;-->
    margin-right:10px;
}
#middlebox{
    float:left;
    background:transparent;
    width:80%;
    height:280px;
}
#rightbox{
    float:right;
    background:blue;
    width:25%;
    height:280px;
}