#bg1 {
  background: #5f788a;
  color: #ffffff;
  padding-top: 70px;
  padding-bottom: 100px;
}

#bg2 {
  background: #fafafa;
  color: #5f788a;
  padding-top: 100px;
    padding-bottom: 100px;
}

#bodyhome {
  background: #5f788a;
  color: #333333;
  margin-top: 5rem;
}