body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

.greenclass {
    background: green;
    color: white;
}
.redclass {
    background: red;
    color: white;
}

span.align-right {
    float: right;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #cbd5db !important;
    border-color: #cbd5db !important;
}

.btn-primary:hover {
    background-color: #5f788a !important;
}

.btn-secondary, .btn-secondary:visited {
    background-color: #cbd5db !important;
    border-color: #cbd5db !important;
    margin: 5px !important;
}

.btn-secondary:hover, .active {
    background-color: #5f788a !important;
}

.btn-light:hover {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #cbd5db; !important;
}

.btn-light {
    background-color: transparent !important;
    border-color: transparent !important;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}