<!--Place elements in a table layout-->
<!--https://www.geeksforgeeks.org/how-to-place-two-div-side-by-side-of-the-same-height-using-css/-->

{% extends "plotApp/base.html" %}
{% block content %}
<!--{% load static %}. It is executed within the base.html. Needed to execute the following command.-->
    <main role="main" class="container">

        <link rel="stylesheet" type="text/css" href="{% static 'plotApp/games.css' %}">

        <div id="leftbox">
        </div>

        <div>TIME NOW</div>
        <div id="timenow"></div>
        <div id = "middlebox">
            <div class="event">
                <div class="box">
                    <div class="box-row">
                        <div class="box-cell box1">
                            1
                        </div>

                        <div class="box-cell box2">
                            X
                        </div>

                        <div class="box-cell box3">
                            2
                        </div>

                        <div class="box-cell box4">
                            rake
                        </div>
                    </div>
                </div>
                <div id="events"></div>
            </div>

        </div>

    <!-- Optional JavaScript (ajax). Its position must be strictly here. If higher, then error displayed
        in the console window-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
        <script type="text/javascript" src="{% static 'plotApp/common_script.js' %}"></script>
        <script type="text/javascript" src="{% static 'plotApp/game.js' %}"></script>

    </main>

{% endblock %}

