<!--Place elements in a table layout-->
<!--https://www.geeksforgeeks.org/how-to-place-two-div-side-by-side-of-the-same-height-using-css/-->

{% extends "plotApp/base.html" %}
{% block content %}
<!--{% load static %}. It is executed within the base.html. Needed to execute the following command.-->
    <main role="main" class="container">
        <link rel="stylesheet" type="text/css" href="{% static 'plotApp/graphs.css' %}">

        <div id = "leftbox">
            <h4>Filters</h4>
            <form id="form">
                <p class='text-muted'>Bookmakers</p>
                <div id="check-bkies"></div>
                <p class='text-muted'>Leagues</p>
                <div id="check-lgs"></div>
                <button type="submit" class="btn btn-light">Apply</button>
            </form>
        </div>

        <div>{{ event_id }}</div>
        <div>TIME NOW</div>
        <div id="timenow"></div>

        <div id = "middlebox">
            <div id="events">
<!--                <div class="box">-->
                <p id="event_title"></p>
                <div>
                    <div>
                        <canvas id="myChart1"></canvas>
                    </div>

                    <div>
                        <canvas id="myChart2"></canvas>
                    </div>

                    <div>
                        <canvas id="myChart3"></canvas>
                    </div>
                </div>
            </div>
<!--            </div>-->
        </div>
<!--    event_id1 is now global and we have access on it from the graphs_script.js file-->
        <script>
            var event_id = {{ event_id }};
        </script>
    <!--    <script-->
    <!--  src="https://code.jquery.com/jquery-3.6.0.min.js"-->
    <!--  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="-->
    <!--  crossorigin="anonymous"></script>-->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- chart.js-->
        <script src='https://cdn.jsdelivr.net/npm/chart.js@3.1.0/dist/chart.min.js'></script>
        <!-- Optional JavaScript (ajax). Its position must be strictly here. If higher, then error displayed
        in the console window-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'plotApp/graphs_script.js' %}"></script>
        <script type="text/javascript" src="{% static 'plotApp/common_script.js' %}"></script>

    </main>
{% endblock %}


