{% extends "plotApp/base.html" %}
{% block content %}
<!--    {% load static %}-->
    <link rel="stylesheet" type="text/css" href="{% static 'plotApp/home.css' %}">

    <div id="bg1">
        <main role="main" class="container">
            <h4>Best Odds Available</h4>
            <ul>
                <li style="list-style-type:'✓'">&nbsp;Scans continuously the odds for a plethora of bookmakers</li>
                <li style="list-style-type:'✓'">&nbsp;Provides instantly with all the scanned odds</li>
                <li style="list-style-type:'✓'">&nbsp;Illustrate the odds history in graphs</li>
            </ul>
            <p>
                </br>
                Why wasting time of manual search when our platform can provide you instantly with the best odds out there?
            </p>
            <p>
                This service can be utilized from recreational players seeking for the best odds across their accounts as well as
                from professional players seeking for arbitrage chances or for value bets.
            </p>
        </main>
    </div>

    <div id="bg2">
        <main role="main" class="container">
            <h4>Plans</h4>
            <p>
                The services of the platform betakias are in a beta phase.
                We are really ambitious and motivated in expanding and enhancing our services in the next few months.
                The upcoming goals for us are:
            <ul>
                <li>Include more markets</li>
                <li>Include more sports</li>
                <li>Include more bookmakers</li>
                <li>Integrate tools to help you out automate your bets</li>
            </ul>
                It is crucial for us however to see adequate traffic in our site which will boost our motivation to enhance your
                experience with our services.

                Register and get access to its fullest.
            </p>
        </main>
    </div>
{% endblock content %}