<!--Place elements in a table layout-->
<!--https://www.geeksforgeeks.org/how-to-place-two-div-side-by-side-of-the-same-height-using-css/-->

{% extends "plotApp/base.html" %}
{% block content %}
<!--{% load static %}. It is executed within the base.html. Needed to execute the following command.-->
    <main role="main" class="container">

        <link rel="stylesheet" type="text/css" href="{% static 'plotApp/rakes.css' %}">

        <div id = "leftbox">
            <form id="form">
                <button id="form_button" type="submit" class="btn btn-primary">Apply Filters</button><br/><br/>


                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Bookmakers
                            </button>
                        </h5>
                    </div>

<!--                    data-parent="#accordion" shall be probably removed. Accordion allows only one collapsible
                    component to be expanded-->
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <div id="check-bkies"></div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                Leagues
                            </button>
                        </h5>
                    </div>

                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <div id="check-lgs"></div>
                        </div>
                    </div>
                </div>

            </form>

        </div>

        <div>
            <span class="btn-group" role="group" id="toolBtns">
                <button id='btn-by-rake' v-on:click="sortby('')" class="btn btn-secondary rounded" type="button" @click="activeBtn = 'btn1'" :class="{active: activeBtn === 'btn1' }">By Rake</button>
                <button id='btn-by-time' v-on:click="sortby('')" class="btn btn-secondary rounded" type="button" @click="activeBtn = 'btn2'" :class="{active: activeBtn === 'btn2' }">By Kick-Off</button>
                <button id='btn-by-league' v-on:click="sortby('')" class="btn btn-secondary rounded" type="button" @click="activeBtn = 'btn3'" :class="{active: activeBtn === 'btn3' }">By League</button>
            </span>

            <span class="align-right" id="collapse_expand" v-on:click="collapse_expand('')" :class="{active: isActive }">
                <input type="checkbox" checked data-toggle="toggle" data-on="Expand all" data-off="Collapse all">
            </span>

            <span class="align-right" id="run_pause" style="padding-right: 10px" v-on:click="run_pause('')" :class="{active: isActive }">
                <input type="checkbox" checked data-toggle="toggle" data-on="<i class='fa fa-pause'></i> Pause" data-off="<i class='fa fa-play'></i> Run">
            </span>
        </div>

        <div>TIME NOW</div>
        <div id="timenow"></div>
        <div id = "middlebox">
            <div class="event">
                <div class="box">
                    <div class="box-row">
                        <div class="box-cell box1">
                            1
                        </div>

                        <div class="box-cell box2">
                            X
                        </div>

                        <div class="box-cell box3">
                            2
                        </div>

                        <div class="box-cell box4">
                            rake
                        </div>
                    </div>
                </div>
                <div id="events"></div>
            </div>

        </div>

    <!-- Optional JavaScript (ajax). Its position must be strictly here. If higher, then error displayed
        in the console window-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
        <script type="text/javascript" src="{% static 'plotApp/common_script.js' %}"></script>
        <script type="text/javascript" src="{% static 'plotApp/rake_script.js' %}"></script>

    </main>

{% endblock %}

