{% extends "plotApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="Post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <p>Account activated! Please <a href="{% url 'login' %}">login</a></p>
            </div>
        </form>

    </div>
{% endblock content %}