{% extends "plotApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <main role="main" class="container">
        <div class="content-section">
            <form method="Post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log In</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                </div>
            </form>
        </div>
    </main>
{% endblock content %}
