{% extends "plotApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <main role="main" class="container">
        <div class="content-section">
            <form method="Post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Join Today</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Have an Account? <a class="ml-2" href="{% url 'login' %}">Sign in</a>
                </small>
            </div>
        </div>
    </main>
{% endblock content %}